@using Site_Store.Application.Services.Common.Queries.GetCategory;
@model List<CategoryDto>;
@{
    Layout = null;
}

<div class="arrow_box_right">
    <div class="noti-list ps-container ps-theme-default" data-ps-id="5082df84-d2e7-73f6-2581-4b8b6b0c29ed">
        <a class="dropdown-item noti-container py-2"><i class="ft-share info float-right d-block font-medium-4 mt-2 ml-2"></i><span class="noti-wrapper"><span class="noti-title line-height-1 d-block text-bold-400 info">سفارش جدید دریافت شده</span><span class="noti-text">لورم ایپسوم متن ساختگی با تولید سادگی</span></span></a>
        <a class="dropdown-item noti-container py-2"><i class="ft-save warning float-right d-block font-medium-4 mt-2 ml-2"></i><span class="noti-wrapper"><span class="noti-title line-height-1 d-block text-bold-400 warning">کاربر جدید ثبت شده است</span><span class="noti-text">لورم ایپسوم متن ساختگی با تولید سادگی</span></span></a>
        <a class="dropdown-item noti-container py-2"><i class="ft-repeat danger float-right d-block font-medium-4 mt-2 ml-2"></i><span class="noti-wrapper"><span class="noti-title line-height-1 d-block text-bold-400 danger">سفارش جدید دریافت شده</span><span class="noti-text">لورم ایپسوم متن ساختگی با تولید سادگی</span></span></a>
        <a class="dropdown-item noti-container py-2"><i class="ft-shopping-cart success float-right d-block font-medium-4 mt-2 ml-2"></i><span class="noti-wrapper"><span class="noti-title line-height-1 d-block text-bold-400 success">مورد جدید در سبد خرید شما</span><span class="noti-text">لورم ایپسوم متن ساختگی با تولید سادگی</span></span></a>
        <a class="dropdown-item noti-container py-2"><i class="ft-heart info float-right d-block font-medium-4 mt-2 ml-2"></i><span class="noti-wrapper"><span class="noti-title line-height-1 d-block text-bold-400 info">فروش جدید</span><span class="noti-text">لورم ایپسوم متن ساختگی با تولید سادگی</span></span></a>
        <a class="dropdown-item noti-container py-2"><i class="ft-box warning float-right d-block font-medium-4 mt-2 ml-2"></i><span class="noti-wrapper"><span class="noti-title line-height-1 d-block text-bold-400 warning">سفارش تحویل داده شده</span><span class="noti-text">لورم ایپسوم متن ساختگی با تولید سادگی</span></span></a>
        <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 3px;"><div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps-scrollbar-y-rail" style="top: 0px; right: -11px;"><div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 0px;"></div></div>
    </div>
    <a class="noti-footer primary text-center d-block border-top border-top-blue-grey border-top-lighten-4 text-bold-400 py-1">خواندن همه اعلان ها</a>
</div>